html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: hsl(275, 100%, 97%);
  color: hsl(292, 42%, 14%);
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../assets/images/background-pattern-mobile.svg');
  width: 100%;
  height: 320px;
  z-index: -1;
}

.accordion-body {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.accordion {
  max-width: 600px;
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.10);
}



header {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 32px;
}

header > h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}

header > img {
  width: 40px;
  height: 40px;
}

.container-flex {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  align-items: center;
  align-self: stretch; 
}

.label {
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
}



.container:hover,
.container:focus {
  color: hsla(281, 83%, 54%, 1);
  cursor: pointer;
  font-weight: 600;
}

.container > img {
  width: 30px;
  height: 30px;
}

span {
  opacity: 0;
}

.container {
  border-bottom: 1px solid hsl(275, 100%, 97%);;
}

.container:last-of-type {
  border: none;
}

.container > .content {
  color: hsl(292, 16%, 49%);
  line-height: 150%;
  margin: 0;
  margin-bottom: 24px;
  font-size: inherit;
}



/* Accordin settings */

.accordion .container {
  position: relative;
}

.accordion .label {
  position: relative;
}

.accordion .label::before {
  content: url('../assets/images/icon-plus.svg');
  color: black;
  position: absolute;
  top: 50%;
  left: 500px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 1.5s ease-out;
}

.accordion .content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.accordion .container.active .content {
  max-height: 200px;
}

.accordion .container.active .label::before {
  content: url('../assets/images/icon-minus.svg');
}


/* Mobile view settings with media query */

@media screen and (max-width: 376px) {
  .page-header {
    background: url('../assets/images/background-pattern-mobile.svg');
    height: 232px;
  }

  .accordion-body {
    height: 812px;
  }

  .accordion {
    max-width: 327px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
  }

  header {
    margin-bottom: 24px;
  }

  header > h1 {
    font-size: 32px;
  }

  header > img {
    width: 24px;
    height: 24px;
  }

  .label {
    font-size: 16px;
  }

  .container > .content {
    font-size: 14px;
  }

  /* Accordion plus and minus position */
  .accordion .label::before {
    left: 250px;
  }
}


